.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card {
  flex: 0 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: bisque;
  box-shadow: none;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
